@import url(main.css);

.imgArt {
    height: 300px;
    width: 300px;
}

.flexcolumn {
    display: flex;
    flex-direction: row;
}

.columnPadding {
    padding: 20px;
}

h5 {
    font-size: 30px;
}

.image-cats {
    padding: 20px;
    width: 150px;
    height: auto;
}

.mainImg {
    padding: 20px;
    width: 500px;
    height: auto;
}

.imageClass {
    padding: 20px;
}