@import url(main.css);

.tab {
  overflow: hidden;
  border: var(--border);
  background-color: var(--primary-blue);
}

.tab button {
  background-color: var(--primary-blue);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1rem;
  transition: 0.3s;
  font-size: 1rem;
  color: var(--base-light);
}

.tab button:hover {
  background-color: var(--primary-blue-dark);
  border: none;
}

button:focus {
  background-color: var(--primary-blue-light);
  border: none;
}

.tabcontent {
  display: none;
}

img {
  height: 80px;
  width: auto;
}

#products .row,
#checkout .row {
  padding: 1rem;
  border: var(--border);
}

.row .noborder {
  border: #fff !important;
}

.table-header {
  font-weight: bold;
}

.quantity {
  display: inline-block;
}

.quantity {
  display: inline-block;
}

.quantity .input-text {
  width: 35px;
  height: 35px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

.quantity {
  text-align: center;
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity .minus,
.quantity .pluss {
  padding: 7px 10px 8px;
  height: 35px;
  background-color: var(--base-light);
  border: 1px solid #efefef;
  cursor: pointer;
}

.quantity .minus {
  border-right: 0;
}

.quantity .pluss {
  border-left: 0;
}

.quantity .minus:hover,
.quantity .pluss:hover {
  background: #eeeeee;
}

/*Hoverable dropdown navigation button*/
.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  padding-left: 0%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: grey;
}

/*Socials*/
.fa-stack {
  font-size: 1.5rem;
  color: var(--secondary-creme);
}
.fa-stack:hover {
  fill-opacity: 100%;
  text-shadow: 0px 20px 30px #1318214d;
}
.fa-stack:hover .icon-ig {
  color: #c13584;
  -webkit-text-stroke: 0px #ffffff;
}
.fa-stack:hover .icon-fa {
  color: #4267b2;
  -webkit-text-stroke: 0px #ffffff;
}
.fa-stack:hover .icon-tw {
  color: #1da1f2;
  -webkit-text-stroke: 0px #ffffff;
}
.fa-stack:hover .icon-yt {
  color: #ff0000;
  -webkit-text-stroke: 0px #ffffff;
}
.fa-stack:active .icon-ig {
  color: #8f2762;
  -webkit-text-stroke: 0px #ffffff;
}
.fa-stack:active .icon-fa {
  color: #2f4a80;
  -webkit-text-stroke: 0px #ffffff;
}
.fa-stack:active .icon-tw {
  color: #177fbf;
  -webkit-text-stroke: 0px #ffffff;
}
.fa-stack:active .icon-yt {
  color: #cc0000;
  -webkit-text-stroke: 0px #ffffff;
}

.fa-stack-1x {
  font-size: 1rem;
  color: var(--primary-blue);
  vertical-align: middle;
}
.fa-stack-1x:hover {
  color: #ffffff;
}

.fa-circle {
  -webkit-text-stroke: 1px var(--primary-blue);
}

ul.social {
  position: relative;
  text-align: center;
  word-spacing: 0.2rem;
  width: auto;
  height: auto;
}
ul.social li {
  display: inline-block;
  padding-top: 1rem;
}

.navbar-nav.navbar-center {
  position: absolute;
  right: 0;
  margin-right: 0;
  padding-right: 2rem;
}

.datatable ul {
  list-style: none;
  display: flexbox;
  justify-content: center;
}

.datatable ul li {
  flex-direction: column;
  padding: 0.5em 1em 0.5em 1em;
}

.field {
  width: 250px;
}
