@import url(main.css);

.tab {
  overflow: hidden;
  border: var(--border);
  background-color: var(--primary-blue);
}

.tab button {
  background-color: var(--primary-blue);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1rem;
  transition: 0.3s;
  font-size: 1rem;
  color: var(--base-light);
}

.tab button:hover {
  background-color: var(--primary-blue-dark);
  border: 1px solid var(--base-light);
}

.tab button.active {
  background-color: var(--primary-blue-light);
  border: 1px solid var(--base-light);
}

.tabcontent {
  display: none;
}
