@import url(main.css);
.image-responsive {
  width: 15%;
}
.menu {
  background-color: #318fb5;
  font-weight: bold;
  font-size: 30px;
  text-decoration: #f7d6bf;
}

.footer {
  background-color: #318fb5;
  text-align: center;
}
.image-responsive {
  height: auto;
  width: auto;
  max-height: 250px;
  max-width: 650px;
}
.nav menu {
  content: justify, left;
}
