@import url(main.css);

.navbar {
  font-weight: bold;
  background-color: var(--primary-blue-dark);
}
.nav-link {
  color: var(--base-light);
  font-size: 25px;
}
.nav-link:hover {
  color: #f7d6bf !important;
  text-decoration: none;
}

.navbar img {
  size: auto;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--primary-blue);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1rem;
  transition: 0.3s;
  font-size: 1rem;
  color: var(--base-light);
}
footer {
  color: #001244;
  min-height: 5vh;
  background-color: #318fb5;
  text-align: center;
  position: relative;
}
.image-responsive {
  height: auto;
  width: auto;
  max-height: 250px;
  max-width: 650px;
}
.nav menu {
  content: justify, left;
}
h2 {
  color: #001244;
  text-align: left;
  margin-left: 2cm;
}
.d-block {
  height: 60vh;
}
.img-fluid {
  max-height: 250px;
  max-width: 250px;
}
.imgArt {
  height: 300px;
  width: 300px;
}

.flexcolumn {
  display: flex;
  flex-direction: row;
}
.article-text {
  text-align: justify;
}
.card-text {
  color: #001244;
  font-size: 28pt;
  text-align: center;
}
.card-title {
  color: #001244;
  font-size: 14pt;
  text-align: center;
}
