@import url('href="https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700');

* {
  --primary-blue: #005086;
  --primary-blue-dark: #001244;
  --primary-blue-light: #318fb5;
  --secondary-lightgreen: #b0cac7;
  --secondary-creme: #f7d6bf;
  --base-dark: #000;
  --base-light: #fff;
  /*if other red tones suit best, change them in this section */
  --error-dark: #6c0503; /*use for :hover */
  --error-bright: #d02a2a; /*use for originaly displayed element */
  /*if other green tones suit best, change them in this section */
  --valid-dark: #025b0e; /*use for :hover */
  --valid-bright: #9db802; /*use for originaly displayed element */
  --border: 1px solid #000;
}

p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
}

p a {
  color: var(--base-dark);
  text-decoration: none;
}

p a:hover {
  color: var(--primary-blue);
  text-decoration: underline;
}

p a:active {
  color: var(--primary-blue-dark);
  text-decoration: underline;
}

a {
  color: var(--base-dark);
  text-decoration: none;
}

a:hover {
  color: var(--primary-blue);
  text-decoration: underline;
}

a:active {
  color: var(--primary-blue-dark);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

button:hover {
  background-color: var(--primary-blue);
  color: white !important;
}

.btn {
  border: 1px solid var(--primary-blue) !important;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

footer {
  margin-top: auto;
  background-color: var(--secondary-creme);
}
